#about {
  padding-bottom: 4rem;
}

#main-cta {
  background-color: $market-orange;
  color: #fff;
  box-shadow: 3px 3px #aaa;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  h4 {
    color: #fff;
  }

  p {
    margin-bottom: 0;
  }
}

#campaign-info {
  padding-top: 2rem;
}
