@import "../node_modules/mofo-bootstrap/dest/css/mofo-bootstrap";
@import '../node_modules/mofo-bootstrap/src/scss/custom/_colors';
@import "../node_modules/mofo-ui/dist/mofo-ui";

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

@import "./pages/Home/home";
@import "./components/Header/header";
